#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* padding: 0%; */
  text-align: center;
  /* background-color: aquamarine; */
}

#container {
  width: 240px;
  height: 360px;  
}


#display {
  text-align: right;  
}


